body {
  background-color: rgb(189, 189, 189);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

* {
  margin-block-start: 0;
  margin-block-start: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}

div.form-modal {
  background-color: white;
  width: 30%;
  padding: 30px;
  border-radius: 20px;
}

div.form-heading {
  text-align: center;
}

h1.form-title {
  font-weight: 700;
  font-size: 1.7rem;
  margin-top: 10px;
}

div.form-inputs {
  display: inline-block;
  text-align: start !important;
  margin-bottom: 10px;
}

div.form-inputs label {
    font-weight: 700;
}

div.form-inputs input {
  padding: 10px;
}

input[type=submit] {
    float: right;
    border: none;
    background-color: purple;
    color: white;
    font-size: 1rem;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
  div.form-modal {
    width: 80%;
  }
}
